/* CSS PORTFOLIO */
/* RESETS */
body{
	color: rgb(255, 255, 255);
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 15px;
}
.conteiner-servs{
	display: flex;
	justify-content: space-evenly;
	flex-flow: column wrap
}
/*Inicio Conteudo Header */
header{ 
	width: 97.8125vw;
	height: 600px;
	background: url(../img/img1.jpg) no-repeat;
	background-size: auto;
	background-position: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.h1topo{
	color: rgba(12, 56, 85, 0.774);
	font-family: "Offside";
	font-size: 30pt;
	height: auto;
	width: auto;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	border: 0 !important;
	margin-top: 150px;
}
nav{
	height: 50px;
	width: 90vw;
	font-family: "Nav";
	font-size: 14pt;
	background-color: rgba(12, 56, 85, 0.774);
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}
.ulnav{
	padding: 0;
}
.ulnav li{
	list-style: none;
	display: inline-flex;
	margin-right: 3vw;
}
a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}
.ainfo{
	color:rgb(12, 56, 85);
	text-decoration-line: none;
	text-align: center;
	transition: ease 250ms;
	padding-left: 40px;
}
/* Fim Conteudo Header */
.spoiler-info{
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	align-content: flex-start;
	justify-content: space-around;
	margin-bottom: 30px;
}
#info1, #info2, #info3, #info4{
	width: 400px;
	height: 380px;
	margin: 80px 0px 0px 0px;
	color: black;
	background-color: rgba(255, 255, 255, 0.918); 
	padding: 30px 10px 0px 10px;
	border-radius: 10px;
	font-family: "Barlow-cond-medium";
	font-weight: 150;
	font-size: 16pt;
	transition: cubic-bezier(0.08, 0.19, 0.03,-0.05) 400ms;
	align-items: center;
}
.imginfos {
	width:180px;
	height:180px;
	border-radius: 10px;
	margin: auto;
	display: flex;
	justify-self: center;
	box-shadow: 10px 10px 10px 0px rgba(12, 58, 85, 0.75);
}
.hinfo{
	margin-top: 15px;
	padding: 50px 0px 0px 0px;
}
footer{
	width: auto;
	height: auto;
	text-align: center;
	font-size: smaller;
	background-color: rgb(12, 56, 85);
	font-family: "Nav-regular";
	font-size: 14pt;
	padding: 3px 0;
}
/* Fim do conteudo Index */
#fusao{
	width: auto;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.110);
	display: flex;
	flex-flow: column;
	align-items: center;
}
#informatica{
	width: auto;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.110);
	display: flex;
	flex-flow: column;
	align-items: center;
}
#redes{
	width: auto;
	height: 400px;
	background-color: rgba(204, 176, 176, 0.11);
	display: flex;
	flex-flow: column;
	align-items: center;
}
.ulredes{
	list-style: circle;
	color: black;
	align-self: flex-start;
	width: 20vw;
	margin-left: 50px 
}
#ferramentas{
	width: auto;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.110);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
}
.hservs{
	font-family: "Barlow-cond-regular";
	padding-top: 30px;
	color: black;
}
.pservs{
	color: black;
	font-family: "Barlow-cond-regular";
	font-size: 15pt;
	font-weight: 500;
	text-indent: 14.5px;
	line-height: 45px;
	width: 90vw;
	margin: 0px 0px 50px 0px
}
.forms{
	display: flex;
	align-items: center;
	flex-flow: column;
	padding-top: 50px;
}